.navbar-wrapper {
  box-sizing: border-box;
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    background-color: var(--subduedBackground);
    padding: 0;
    height: 6rem;
  
    .navbar{
    //   width: 100%;
      height: 100%;
      padding: 0 3.2rem;
    // padding-left: 6rem;
    // padding-right: 5rem;
    
    // background-color: black;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 99999;

      .alignRight {
        margin-left: auto;
      }

      .nav-item{
          // position: relative;
          padding: 0 1rem;
          img{
            height: 2.4rem;
            cursor: pointer;
          }
        }
  
        .back {
          margin-right: 1rem;
        }

          .header-text{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: var(--inverseBackground);
            padding-right: 20px;
            cursor: pointer;
          }
          .icon-element{
            padding: 0 1.2rem;
            cursor: pointer;
            position: relative;
          }
          .bookmark-count-container{
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: var(--inverseBackground);
            position: absolute;
            top: -3px;
            right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            .bookmark-count{
              color: var(--defaultBackground);
              font-family:'Work Sans';
              font-weight: 600;
              font-size: 8px;
            }
          }
          
          .signin-button{
            border: 1px solid var(--defaultPrimaryColor);
            border-radius: 4px;
            min-height: 4.5vh;
            padding-left: 1vh;
            padding-right: 1vh;
            display: flex;
            justify-content: center;
            align-items: center;
         }
          .signin-text{
            font-family:'Work Sans';
              font-weight: 500;
              font-size: 14px;
              line-height: 19px;
              color: var(--primaryColor);
          }
          .profile-item{
            padding-left: 20px;
          }
        .change-theme-text{
          color: var(--defaultPrimaryColor);
        }
    }
  }

  
  
  @media only screen and (max-width: 500px) {
    .navbar-wrapper {
      
      .navbar {
        justify-content: space-between;
        padding: 0 1.2rem;
  
        .nav-item {
          max-width: 10rem;
          margin: 0 2rem 0 0 !important;
        }
  
        .profile, .bookmark {
          display: none;
        }
  
        .back {
          display: none;
        }
      }
    }
  }
  