.login-modal{
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  // fallback background for unsupported browsers.
  background: var(--defaultBackground);
  // background: rgba(196, 196, 196, 0.1);

  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
  
  @supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) or (-ms-backdrop-filter: blur(20px)) or (-o-backdrop-filter: blur(20px))) {
    background: none;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
  }
  .close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.8rem;
    background-color: var(--defaultBackground);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;

    img{
      height: 1.6rem;
    }
  }

  .header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--contrastStrokeColor);

    .headline{
      font-weight: bold;
      font-size: 2rem;
      line-height: 3rem;
    }

    .subtitle{
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-style: italic;
    }
  }

  .error-container{
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    border: 1px solid #C06666;
    color: #C06666;
    margin: 0 0 0.5rem;
  }

  .modal-container{
    width: 40rem;
    min-height: 54rem;
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 2rem;
    background-color: var(--defaultBackground);
    border: 2px solid var(--subduedStrokeColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    .login-modal-brand {
      display: none;
    }

    .segment-container{
      width: 60%;
      margin: 0 auto;
    }

    .form-container{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .subtext-container{
        width: 100%;
        display: flex;
        padding: 0 1rem;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: var(--defaultStrokeColor);

        div{
          cursor: pointer;
        }
      }
    }

    .auth-container{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .privacy {
        margin-bottom: 0.8rem;
        color: #61666B;
        .link {
          text-decoration: none;
          color: var(--defaultStrokeColor);
        }
      }

      .social-icons-container{
        display: flex;
        justify-content: center;
        align-items: center;

        .social-icon{
          width: 5rem;
          height: 5rem;
          cursor: pointer;
          padding: 1.5rem;
          background-color: var(--subduedBackground);
          margin: 0 0.8rem;
          border-radius: 50%;
          background-size: 40%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

        .or-divider{
          width: 100%;
          color: #C5C7CA;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 1rem 0;
  
          .divider{
            height: 1px;
            display: inline;
            margin: 0 1rem;
            background-color: #C5C7CA;
            flex-grow: 1;
            width: 20%;
          }
        }
    }
  }

  .forgot-pass-modal-container{
    height: 25rem;
    width: 49rem;
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #1E1F22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .login-modal {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    z-index: 999;
    margin-bottom: 6rem;
    overflow:scroll;
    -webkit-overflow-scrolling:touch;


    .modal-container{
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding-bottom: 8rem;
      background: var(--defaultBackground);
      justify-content: flex-start;
      overflow-y: scroll;
      -webkit-overflow-scrolling:touch;

      .login-modal-brand {
        display: none;
      }

      .segment-container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
      }

      .header-container{
        margin-top: 1rem;
      }

      .form-container{
        margin-top: 0.8rem;
        width: 100%;
      }

      .auth-container{
        width: 100%;
        margin-top: 2.8rem;

        .social-icons-container{
          margin-top: 2rem;
        }

        .or-divider{
          margin-top: 1.8rem;
        }
      }
    }
    .wrapper::before {
      padding: 0;
      border-radius: 0;
    }
    .close-button{
      // display: none;
      position: fixed;
    }
  }
}