.banner{
    width: 100vw;
    min-height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EBF1FF;
    .text-content{
     text-align: center;
    }
    .heading{
        font-family: 'Gloock';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #034FE2;
    }
    .sub-header{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #034FE2;
        margin-top: 12px;
    }
}