
.search-model-mobile {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-radius: 32px;
  // padding: 4px;
  position: relative;
  .search-bar-mobile {
    width: 100%;
    height: 100%;
    overflow: visible;
    // border-radius: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // .jZkBQk {
    //     height: 100%;
    //     .wrapper {
    //         height: 100%;
    //         .frjscc {
    //             height: 100%;
    //             .search-icon{
    //                 height: 40px;
    //             }
    //         }
    //     }
    // }
    .sc-ifAKCX {
      .wrapper {
        .sc-bxivhb {
          padding: 0 20px 0 20px;
          // border-radius: 20px;
        }
        .sc-bwzfXH {
          // border-radius: 20px;
          padding: 0 20px 0 20px;
        }
      }
    }

    .sc-eCYdqJ {
      .wrapper{
        box-shadow: none !important;
        .sc-gsnTZi{
          ul{
            padding: 0px 0 25px 0;
          }
        } 
        .efNQyS{
          ul{
            padding: 0px 0 25px 0;
          }
        }
        .ilOnbu{
         width: 85%;
        }
      }
    }
    .ksUSjM{
      .wrapper{
        box-shadow: none !important;
      }
    }
    .hnfnUj{
      .wrapper{
        .sc-gsnTZi{
          ul{
            padding: 0px 0 25px 0;
          }
        } 
        .efNQyS{
          ul{
            padding: 0px 0 25px 0;
          }
        }
      }
    }
  }

  .dZLOyY {
    .wrapper{
      border-radius: 0px;
    }
  } 

  .mobile-search-bar{
    position: absolute;
    right: 20px;
  }
}
