.dropdown{
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--subduedStrokeColor);
    border-radius: 4px;
   .element-content{
    padding: 20px 86px 20px 24px;
    width: 13vw;
    min-height: 3.1vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   }
   .title{
    font-family:'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: var(--highContrastColor);
    padding-left: 0.8rem;
   }
}