.detail-modal-mobile{
    width: 100%;
    background: var(--defaultBackground);

    .detail-modal-mobile-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}