.goal-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 12px;
    // gap: 10px;
    cursor: pointer;
    transform: scale(1);
    // min-width: 17em;
    // max-width: 50em;

    &:hover{
        border: 1px solid var(--insignificantStrokeColor) ;
        background: var(--defaultBackground) !important;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        margin: 0px 11px 0px 11px;
        padding: 12px;
        // margin: 0px 10px 0px 10px;
    }

    .subject-title-text{
        font-family:'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: var(--bodyColor);
    }
}