.footer-modal{
  // width: 100%;
  background: var(--subduedBackground);
  position: fixed;
  bottom: 0px;
  height: 45vh;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  .footer-modal-section{
    display: flex;
    flex-direction: column;
    // margin: 0rem 2rem 0rem 2rem;
  
    .footer-modal-header{
      height: 5vh;
      background-color: var(--subduedBackground);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 2%;
      padding-right: 2%;
    }
    
    .footer-modal-content{
      height: 32vh;
      padding-top: 4vh;
      overflow: scroll;
    }
    .footer-modal-footer{
      height: 4vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 2%;
      padding-right: 2%;
      background-color: var(--defaultBackground);
      border-radius: 4px;
    }

    .socialMediaDiv{
      display: flex;
    flex-direction: column;
    width: 33%;
    }

    .socialMediaDiv1{
      display: inline;
    }

    .socialMediaDiv2{
      font-family: 'Poppins';
      font-style: normal;
      width: 75%;
      display: inline;
      font-size: 14px;
line-height: 17px;
margin: 16px 0;
color: var(--bodyColor)
    }

    .powered-by-credenc-text{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      background: linear-gradient(135deg, #00D1FF 0%, #00CB9C 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .socialMediaDiv1Button{
      background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
border-radius: 3px;
padding: 12px;
background-color: var(--defaultBackground);
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: var(--defaultBackground);
    }

    .footerDiv{
      display: flex;
      padding-left: 2%;
      padding-right: 2%;
    }

    .programAndSubjectDiv{
      display: flex;
      width: 67%;
    }

    .programDiv{
      margin-right: 16%;
    }

    .paraHeading{
      font-family: 'Poppins';
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
      color: var(--highContrastColor)
    }
    .para{
      font-size: 14px;
      margin: 5px 0;
      color: var(--bodyColor)
    }
    .disclaimertext{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 21px;
      text-align: justify;
      color: var(--contrastStrokeColor);
      margin-top: 16px;
      padding-left: 2%;
      padding-right: 2%;
    }

    .footer-elemental-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .footer-elemental-content-text{
      font-family:'Poppins';
      font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
color: var(--bodyColor);
padding-right: 24px;
cursor: pointer;
text-decoration: none;
  }
  .footer-rights-text{
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 19px;
color: var(--bodyColor)
  }
  }
  .removeLine{
    text-decoration: none;
  }
  
}



