.feature-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 9rem 15rem;

    .section-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-left: 1px solid #034FE2;
        padding: 12px 25px 8px 18px;
        width: 33%;
        min-height: 250px;

        .text-section{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 10px;

            .header{
                font-family: 'Gloock';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: var(--inverseBackground);
            }

            .content{
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: var(--inverseBackground);
                margin-top: 12px;
            }
        }
    }
}