.mobile-footer{
    width: 100vw;
    background-color: var(--defaultBackground);
    // z-index: 99;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    z-index: 9999;

    .mobile-footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 14px 23px;
        gap: 10px; 
    }

    .mobile-footer-element{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bookmark-element-mobile{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .bookmark-count-container-mobile{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--inverseBackground);
            position: absolute;
            top: 0px;
            right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            .bookmark-count-mobile{
              color: var(--defaultBackground);
              font-family:'Work Sans';
              font-weight: 600;
              font-size: 8px;
            }
          }

    }

    .mobile-footer-text{
        font-family:'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        /* identical to box height */

        text-align: center;
        margin-top: 5px;
        color: var(--contrastStrokeColor);
    }
    .nav-item-container {
        // width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--highContrastColor);
        position: relative;
        text-decoration: none;
        .img-container {
            position: relative;
            width: fit-content;
        }
        img {
            height: 1.6rem;
        }
        .nav-item-name {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
            margin-top: 5px;
            // margin-top: 0.6rem;
        }
      
    }

    .imageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
    }
}

.showInMobile{
    visibility: hidden;
}


@media screen and(max-width: 500px){
    .showInMobile{
        visibility: visible;
    }
}