.category-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 3rem;
    isolation: isolate;

    .category-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .header-text{
            font-family: 'Gloock';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.01em;
            text-transform: capitalize;
            color: #034FE2;
        }
    }

    .category-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 4rem;
        gap: 2rem;
        width: 100%;
        box-sizing: border-box;
        
        .category-data{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            gap: 2rem;
            background: #FFFFFF;
            border-radius: 2.4rem;
            box-sizing: border-box;
            width: 17%;
            cursor: pointer;

            &:hover{
                border: 2px solid #8F14CC;
                // fill: none;
                // stroke-width: 2px;
                // stroke: #8F14CC;
                // cursor: pointer;
            }
        }

        .category-text{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #000000;
            width: 100%;
            text-align: center;
        }
    }
}

@media screen and(max-width: 500px) {
    
    .category-container {

        .category-header {

            .header-text{
                font-size: 2.4rem;
                line-height: 2.9rem;
            }
        }

        .category-section {
            padding: 0;
            gap: 1rem;
    
            .category-data {
                padding: 2rem;
                width: 45%;
            }
        }

    }

}