.dashboard{
    // min-width: 100vw;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--defaultBackground);
    // border-color: black;
  
    .dashboard-upper-section{
     width: 100%;
     margin-top: 6rem;
     height: 100%; 
     overflow: hidden
    }
  
    .banner{
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #EBF1FF;
      // overflow: scroll;
      .text-content{
        margin-top: 1rem;
        text-align: center;
      }
      .heading{
        font-family: 'Gloock';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #034FE2;
        margin-top: 40px;
      }
      .sub-header{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #034FE2;
        margin-top: 12px;
      }
    }
  
    .dashboard-courses-container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 24px 0px 24px 60px;
      gap: 30px;
      width: 100%;
  
      .header-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
  
        .header-text{
          font-family: 'Gloock';
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 38px;
          letter-spacing: 0.01em;
          text-transform: capitalize;
          color: #034FE2;
        }
      }
  
      .course-section{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        width: 95%;
        overflow: scroll;
        // margin-top: 30px;
      }
    }
  
    .course-content{
    //  padding: 1rem 2.5rem 1rem 2.5rem;
    //  width: 95%;
    //  position: absolute;
    //  top: 38vh;
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 20px;
    //  align-items: center;
    }
    .course-navbar{
     width: 93%;
     padding: 1rem 5rem 1rem 5rem;
    }
    .card-content{
      padding: 0rem 1.5rem 1.5rem 1.5rem;
      width: 100%;
    }
    .course-card-container{
     margin-top: 17px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-start;
     flex-wrap: wrap;
     margin: 0rem -0.5rem 3.5rem 0rem;
     gap: 2.3rem;
    }
  
    .dashboard-footer{
    width: 100vw;
    z-index: 9999;
  
    }
  
    .dashboard-subject-modal{
    position: absolute;
    width: 252px;
    // height: 320px;
    left: 1.9vw;
    top: 37.8vh;
    background: var(--defaultBackground);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(60px);
    border-radius: 12px;
    }
  
    *{
      scrollbar-width: none;
    }
  
  }
  
  .dashboard-mobile{
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // background-repeat: no-repeat;
    overflow: scroll;
    // background-size: cover;
  
    .course-card-list{
      width: 100%;
      display: flex;
      flex-direction: column;
     justify-content: flex-start;
     align-items: center;
    //  width: 35em;
    //  overflow-x: auto;
     white-space: nowrap;
     gap: 10px;
     margin: 8.5rem 0rem 0.75rem 0rem;
    } 
  }
  
  .course-page{
    // position: relative;
    // top: 8vh;
    // left: 9.2rem;
    // min-width: 100vw;
    flex-grow: 1;
    overflow: scroll;
    background: var(--defaultBackground);
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
    z-index: 99;
    margin-top: 6vh;
    height: 87vh;
    position: relative;
  
    .filter-column{
      position: fixed;
      width: 23%;
      min-height: 100%;
      max-height: 50vh;
      box-sizing: border-box;
      background: var(--defaultBackground);
      border: 1px solid var(--insignificantStrokeColor);
      border-radius: 0.6rem;
      overflow: scroll;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      margin-top: 2.5rem;
      
      &::-webkit-scrollbar{
        display: none;
      }
  
      .filters {
        flex-grow: 1;
        justify-self: flex-start;
      }
  
      .filter-head {
        position: sticky;
        top: 0;
        background: var(--defaultBackground);
        z-index: 10;
        width: 100%;
        min-height: 4rem;
        box-sizing: border-box;
        padding: 1.2rem 1.6rem;
        border-bottom: 1px solid var(--insignificantStrokeColor);
        font-weight: 500;
        // font-style: italic;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: var(--primaryColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      .filter-footer {
        justify-self: flex-end;
        // margin-bottom: 14vh;
        background: var(--defaultBackground);
        z-index: 10;
        min-height: 3.2rem;
        box-sizing: border-box;
        padding: 0.8rem 1.6rem;
        font-style: italic;
        font-size: 1.4rem;
        line-height: 2.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .link {
          margin: 0;
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;
          text-transform: uppercase;
          color: var(--bodyColor);
          text-decoration: none;
        }
        .mobile-actions-container {
          display: none;
        }
      }
      .no-filter-text{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: var(--defaultStrokeColor);
      }
    }
  
    .list-column{
      position: absolute;
      left: 26vw;
      top: 3rem;
      margin: 0 1rem;
      min-width: 74.5%;
      min-height: 100%;
      max-height: 60vh;
      background: var(--defaultBackground);
      border-radius: 0.6rem;
      overflow: scroll;
      
      &::-webkit-scrollbar{
        display: none;
      }
  
      .filter-container{
        position: fixed !important;
        top: 8rem !important;
        width: 70%;
        box-sizing: border-box;
        padding: 2.5rem 0rem;
        background: var(--defaultBackground);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 9;
  
        .segment-container{
          max-width: 60%;
          margin: 0 1rem 0 0;
        }
  
        .text-container{
          font-size: 1.4rem;
          line-height: 2.1rem;
          text-align: end;
          color: var(--primaryColor);
        }
      }
  
      .list-container{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: '10rem 2.4rem 2rem 0rem';
        height: 800;
        overflow: "auto";
      }
    }
  }
  
  .sliding-panel-container{
    z-index: 99999 !important;
     .panel-container-left-enter-done{
       .panel{
         background: var(--defaultBackground) !important;
       }
     } 
  }
  .active{
    z-index: 99999 !important;
    .panel-container-left-enter-done{
      .panel{
        background: var(--defaultBackground) !important;
      }
    }
  }
  
  .filter-sidebar-content{
    flex-grow: 1;
    // overflow: hidden;
    background: var(--defaultBackground);
    // padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    z-index: 99;
    height: 100%;
    // margin-top: 6vh;
    // height: 97vh;
  
    .filter-head {
      position: sticky;
      top: 0;
      background: var(--defaultBackground);
      z-index: 10;
      width: 100%;
      min-height: 4rem;
      box-sizing: border-box;
      padding: 1.2rem 2.6rem;
      border-bottom: 1px solid var(--insignificantStrokeColor);
      font-weight: 500;
      // font-style: italic;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: var(--primaryColor);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .filter-footer {
      justify-self: flex-end;
      margin-bottom: 14vh;
      background: var(--defaultBackground);
      z-index: 10;
      min-height: 3.2rem;
      box-sizing: border-box;
      padding: 0.8rem 1.6rem;
      font-style: italic;
      font-size: 1.4rem;
      line-height: 2.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .link {
        margin: 0;
        text-decoration: none;
        font-style: normal;
        text-transform: uppercase;
        color: var(--defaultBackground);
        font-size: 1rem;
      }
      .mobile-actions-container {
        display: none;
      }
    }
    .no-filter-text{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: var(--defaultStrokeColor);
    }
    .detail-modal-footer{
      position: fixed;
      bottom: 0px;
      width: 30%;
      display: flex;
      justify-content: center;
      background: var(--defaultBackground);
  
      .modal-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        gap: 36px;
        width: 88%;
  
        .reset-button-container{
          width: 44%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .modal-button-wrapper{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 14px;
          background: var(--contrastStrokeColor);
          border-radius: 4px;
          width: 44%;
        }
      }
  
    } 
  }
  
  @media only screen and (max-width: 500px) {
    .course-page{
      padding: 0;
      width: 100vw;
      margin-top: 0px;
      // flex-grow: 1;
      // overflow: scroll;
      // background: var(--defaultBackground);
      // padding: 1.2rem 2.5rem 1.2rem 2.5rem;
      // z-index: 99;
      // margin-top: 6vh;
      // height: 87vh;

      .empty-state{
          background: var(--defaultBackground);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding: 0px 20px 30px 20px;

          .category-section{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .category-header{
                font-family: 'Gloock';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #034FE2;
            }

            .category-container{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                padding: 0px;
                padding-top: 16px;
                gap: 10px;

                .category-content{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 12px 14px;
                    gap: 10px;
                    border: 0.5px solid #CACACA;
                    border-radius: 28px;

                    .category-text{
                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;
                    }
                }
            }
          }


      }
    
      .filter-mobile{
        position: fixed;
        top: 5rem;
        left: 0;
        width: 100vw;
        // height: 100vh;
        height: 750px;
        box-sizing: border-box;
        background: var(--defaultBackground);
        border-radius: 0.6rem;
        overflow: hidden;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
  
        border: 2-x solid red;
        z-index: 5;
        
        &::-webkit-scrollbar{
          display: none;
        }
    
        .filters {
          flex-grow: 1;
          justify-self: flex-start;
        }
    
        .filter-head {
          position: sticky;
          top: 0;
          background: var(--subduedBackground);
          z-index: 10;
          width: 100%;
          min-height: 5.2rem;
          box-sizing: border-box;
          padding: 1.2rem 1.6rem;
          border-bottom: 1px solid var(--defaultColor);
          font-weight: 500;
          font-style: italic;
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: var(--defaultStrokeColor);
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
    
        .filter-footer {
          -webkit-justify-content: flex-end;
          align-items: flex-end;
          -webkit-align-items: flex-end;
          justify-self: flex-end;
          position: fixed;
          bottom: 0;
          background: var(--defaultBackground) !important;
          z-index: 10;
          width: 100%;
          min-height: 7.5rem;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem;
          font-style: normal;
          font-size: 1.4rem;
          line-height: 2.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
          .back-button-content{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
  
            .back-button-text{
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              line-height: 20px;
              color: var(--primaryColor);
            }
          }
  
          .link {
            display: none;
          }
  
          .mobile-actions-container {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            .btn-container {
              // width: 45%;
              max-width: 16rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .searchbar{
          position: sticky;
          top: 0px;
          left: 0px;
          z-index: 9;
      }
  
      .show-filters {
        display: block;
      }
  
      .hide-filters {
        display: none;
      }
    
      .list-column{
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        min-width: 100%;
        min-height: 100%;
        max-height: 60vh;
        background: var(--defaultBackground);
        border-radius: 0.6rem;
        
        &::-webkit-scrollbar{
          display: none;
        }
    
        .filter-container{
          position: relative;
          width: 100%;
          padding: 1.2rem 2.4rem;
          background: transparent;
          background: var(--subduedBackground);
          position: sticky;
          top: 10px;
          z-index: 1;
    
          .segment-container, .dropdown-secondary {
            display: none;
          }
  
          .text-container{
            width: 100%;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #C5C7CA;
            text-align: left;
          }
        }
    
        .list-container{
          // padding: 2.4rem;
          width: 100%;
          box-sizing: border-box;
          margin-top: 1.6rem;
          padding: 0rem 1.25rem 2rem 1.5rem;
          height: 950px;
          overflow: auto;
        }
  
        .search-section-mobile{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          // padding: 4px 12px;
          gap: 10px;
          background: #FFFFFF;
          box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1);
          width: 100%;
          position: fixed;
          bottom: 6rem;
        }
      }
  
      .mobile-view-actions {
        width: 100%;
        max-width: 45rem;
        position: fixed;
        bottom: 10rem;
        // left: 50%;
        // transform: translate(-50%, -50%);
        height: 4.2rem;
        z-index: 2;
        padding: 0 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2rem;
          background: var(--inverseBackground);
        }
  
        .filter, .sort {
          width: 4rem;
          background: var(--inverseBackground);
        }
  
        .certificate {
          min-width: 10rem;
        }
  
        .mobile-filter-count{
          position: absolute;
          height: 20px;
          width: 20px;
          background: var(--defaultBackground);
          top: -5px;
          left: 33px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }
      }
    }
    ::-webkit-scrollbar {
      display: none; // Safari and Chrome
  }
  }