.card-container{

box-sizing: border-box;
display: flex;
flex-direction: column;
padding: 12px;

background: #FFFFFF;

border: 1px solid #EBEBEB;
border-radius: 16px;
width: 30em;
cursor: pointer;

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .card-header-end-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.institute-name{
    font-family:'Poppins';
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #717171;
margin-top: 10px;
}

.grey-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: #F7F7F7;
border-radius: 8px;
padding: 8px;
}
.count-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #222222;
    margin-right: 5px;
}
.card-image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.card-image-content-open{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.card-course-content{
    padding: 0rem 1.25rem 1rem 1.25rem;

    .course-name{
        font-family:'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .course-name-tooltip {
        position: absolute;
        display: inline-block;
        border-bottom: 1px dotted black;
      }

       .course-name-tooltiptext {
        // visibility: hidden;
        min-width: 20em;
        background-color: black;
        font-family: "Poppins";
        color: #fff;
        text-align: center;
        padding: 5px 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 999;
      }
      

    .course-mode{
        font-family:'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #717171;
        margin-top: 12px;
    }
    .course-duration{
        font-family:'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #717171;
        margin-top: 4px;
    }
    .course-price-content{

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-top: 36px;

        .course-pay{
            font-family:'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px; 
            color: #B0B0B0; 
        }
        .course-price{
            font-family:'Poppins';
            font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
        }
    }
   
}

.open{
    padding: 0rem 1.25rem 0rem 1.25rem !important;
}

.course-button-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    // gap: 8px;
    background: #F7F7F7;
    border-radius: 0px 0px 16px 16px;
}

.course-compare-buttton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 10px;
    background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
    border-radius: 4px;
}

.add-to-compare-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    // line-height: 24px;
    color: var(--defaultBackground);
}

.course-detail-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
}

.course-detail-text{
    font-family:'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.course-button-content-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    background: #F7F7F7;
    border-radius: 0px 0px 16px 16px;

}
.course-compare-buttton-mobile{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 10px;
background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
border-radius: 4px;
}

.add-to-compare-text-mobile{
    font-family:'Poppins';
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
}

.course-detail-button-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
}
.course-detail-text-mobile{
    font-family:'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

}

.card-container-open{
    padding-top: 12px !important;

}