.modal{
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  .forgot-modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
    // margin-top: 4rem;

    .forgot-pass-text{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: var(--primaryColor);
    }
    .generate-otp-text{
      font-family: 'Work Sans';
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--bodyColor);
    }
  }

  .header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C5C7CA;
    margin: 2.2rem auto 1rem;

    .headline{
      font-weight: bold;
      font-size: 2rem;
      line-height: 3rem;
    }

    .subtitle{
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-style: italic;
    }
  }

  .error-container{
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    border: 1px solid #C06666;
    color: #C06666;
    margin: 1rem 0;
  }

  .forgot-pass-modal-container{
    position: relative;
    width: 49rem;
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 2rem;
    background-color: var(--defaultBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--disabledBackground);


    .auth-container {
      width: 75%;
    }

    .otp-auth-container, .reset-password-container {
      width: 65%;
    }

  }

  .login-modal-brand {
    display: none;
  }

  .back-button{
    position: absolute;
    top: 3rem;
    left: 2rem;
    padding: 0.8rem;
    background-color: var(--subduedBackground);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img{
      height: 1.6rem;
    }
  }
  .success-button{
    width: 70%;
    margin-left: 10px;
  }
  .new-password-set{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--inverseBackground);
  }
  .new-password-otp{
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #717171;
  }

  .resend-otp{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .modal {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    z-index: 999;
    margin-bottom: 6rem;

    .login-modal-brand {
      display: block;
    }

    .forgot-modal-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 4px;
      // margin-top: 4rem;

      .forgot-pass-text{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: var(--inverseBackground);
      }
      .generate-otp-text{
        font-family: 'Work Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--bodyColor);
      }
    }

    .header-container{
      margin-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .headline {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }

      .subtitle {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }

    .forgot-pass-modal-container{
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding-bottom: 8rem;
      background: var(--defaultBackground);
      justify-content: flex-start;
      overflow-y: scroll;

      .header-container{
        margin-top: 3rem;
      }

      .auth-container, .reset-password-container{
        width: 100%;
        margin-top: 2.8rem;

        // .social-icons-container{
        //   margin-top: 2rem;
        // }

        // .or-divider{
        //   margin-top: 1.8rem;
        // }
      }

      .otp-auth-container {
        width: 100%;
      }
    }
    .wrapper::before {
      padding: 0;
      border-radius: 0;
    }
    .close-button{
      // display: none;
      position: fixed;
    }
    .success-button{
      width: 60%;
    }
    .new-password-set{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: var(--inverseBackground);
    }
    .new-password-otp{
      font-family: 'Work Sans';
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #717171;
    }
  }
}