.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: "100%";
    .title{
        font-family:'Poppins';
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
    }
    .result-text{
        font-family:'Poppins';
        font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: #000000;
    }
}