.subject-dropdown-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   

.subject-tab-element{
    display: flex;
    flex-direction: column;
    width: 100%;
    &:hover{
        background : var(--subduedBackground);
        border-radius: 6px;
    }
   
    .subject-tab-element-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .subject-element{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 53px;
        width: 80%;
        align-self: center;
        padding-left: 20px;
    }

    .subject-element-dot-content{
        width:20%;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: absolute;
    }

    .subject-element-dot{
        height: 6px;
        width: 6px;
        border-radius: 4px;
        background: var(--successPrimaryColor);
        // width:20%;
    }

    .subject-white-element{
        width:20%;
    }

   .subject-element-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }

   .subject-element-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--primaryColor);
   }
   .subject-element-count{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--bodyColor);
   }
}
    
}