.dashboard{
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: black;

  .course-content{
  //  padding: 1rem 2.5rem 1rem 2.5rem;
   width: 95%;
   position: absolute;
   top: 38vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
  //  align-items: center;
  }
  .card-content{
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
  }
  .course-card-container{
   margin-top: 17px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
  }

}