.card-container{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 12px;
    
    background: var(--defaultBackground);
    
    border: 1px solid #CACACA !important;
    border-radius: 16px;
    min-width: 36.5em;
    max-width: 36.5em;
    cursor: pointer;
    
    &:hover{
        border: 1px solid #8F14CC !important;
    }
    
    .card-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .card-header-end-content{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
    
    .institute-name{
        font-family: 'Gloock';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--inverseBackground);
        margin-top: 10px;
    }
    
    .grey-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // background: var(--subduedBackground);
        border-radius: 8px;
        padding: 8px;
    
    // &:hover{
    //     background: var(--defaultBackground);
    //     border: 1px solid var(--insignificantStrokeColor);
    //     box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    //     border-radius: 8px;
    //     margin: 0px;
    //     padding: 7px;
    // }
    
    }
    .count-text{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: var(--defaultColor);
        margin-right: 5px;
    }
    .card-image-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
    
    .card-image-content-open{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .card-course-content{
        padding: 0rem 1.25rem 1rem 0rem;
        margin-top: 24px;
        // transition: 0.5s;
    
        .course-name{
            font-family: 'Gloock';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--inverseBackground);
            // height: 48px;
            // max-width: 16.6em;
        }
    
        .course-name-tooltip {
            position: absolute;
            display: inline-block;
            border-bottom: 1px dotted var(--primaryColor);
          }
    
           .course-name-tooltiptext {
            // visibility: hidden;
            min-width: 20em;
            background-color: var(--primaryColor);
            font-family: "Work Sans";
            color: var(--defaultBackground);
            text-align: center;
            padding: 5px 5px;
            border-radius: 6px;
            position: absolute;
            z-index: 999;
          }
          
          .course-detail-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 16px 0px;
    
            .content-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 5px 10px;
                gap: 10px;
                background: #EBF1FF;
                border-radius: 3px;
    
                .course-mode{
                    font-family:'Work Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: var(--bodyColor);
                    margin-top: 12px;
                }
                .course-duration{
                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: var(--inverseBackground);
                    // margin-top: 4px;
                }
            }
        }

        .content-description{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 150%;
            color: var(--inverseBackground);
            margin-top: 10px;
            height: 18px;
        }
        

        .course-price-content{
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 36px;
    
            .course-pay{
                font-family:'Work Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                line-height: 16px; 
                color: var(--disabledColor); 
            }
            .course-price{
                font-family:'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 27px;
                color: var(--inverseBackground);
            }
        }
       
    }
    
    .open{
        padding: 0rem 1.25rem 0rem 1.25rem !important;
    }
    
    .course-button-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 18px 0px 5px 0px;
        // gap: 8px;
        // background: var(--subduedBackground);
        border-radius: 0px 0px 16px 16px; 
        position: relative;
        bottom: 0px;

        .price-card-content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
    
            .price-label{
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #CACACA;
            }
    
            .price-amount{
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #034FE2;
                margin-top: 5px;
            }
        }
    
    }
    
    .course-compare-buttton{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 8px;
        gap: 10px;
        background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
        border-radius: 4px;
        width: 60%;
    }
    
    .add-to-compare-text{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        // line-height: 24px;
        color: var(--defaultBackground);
    }
    
    .course-detail-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        gap: 10px;
        border-radius: 5px;
    }
    
    .course-detail-text{
        font-family:'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: var(--inverseBackground);
    }

    .course-detail-approved-text{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #138808;
    }
    
    .course-button-content-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 12px 16px;
        gap: 8px;
        background: var(--subduedBackground);
        border-radius: 0px 0px 16px 16px;
    
    }
    .course-compare-buttton-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 22px;
        gap: 10px;
        background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
        border-radius: 4px;
    }
    
    .add-to-compare-text-mobile{
        font-family:'Work Sans';
        font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--defaultBackground);
    }
    
    .course-detail-button-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
    }
    .course-detail-text-mobile{
        font-family:'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: var(--inverseBackground);
    }
    
    }

    .divider{
        width: 100%;
        border: 0.5px solid #EBEBEB;
        margin: 6px 0px;
    }
    
    .card-container-open{
        padding-top: 12px !important;
    
    }
    
    @media only screen and (max-width: 768px){
    
    .card-container{
    
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // padding: 12px;
        
        background: var(--defaultBackground);
        
        border: 1px solid var(--insignificantStrokeColor);
        border-radius: 16px;
        // min-width: 35em;
        cursor: pointer;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-bottom: 10px;
        
        // &:hover{
        //     // transform: translateY(0);
        //     // transition: 0.5s;
        // }
        
        .card-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 12px;
        
            .card-header-end-content{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }
        
        .institute-name{
            font-family: 'Gloock';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--inverseBackground);
            margin-top: 10px;
        }
        
        .grey-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // background: var(--subduedBackground);
            border-radius: 8px;
            padding: 8px;
        
        // &:hover{
        //     background: var(--defaultBackground);
        //     border: 1px solid var(--insignificantStrokeColor);
        //     box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
        //     border-radius: 8px;
        //     margin: 0px;
        //     padding: 7px;
        // }
        
        }
        .count-text{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: var(--defaultColor);
            margin-right: 5px;
        }
        .card-image-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
        
        .card-image-content-open{
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
        .card-course-content{
            padding: 0rem 1.25rem 1rem 1.25rem;
            // transition: 0.5s;
        
            .course-name{
                font-family:'Work Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: var(--contrastStrokeColor);
                max-width: 17.7em;
            }
        
            .course-name-tooltip {
                position: absolute;
                display: inline-block;
                border-bottom: 1px dotted var(--primaryColor);
              }
        
               .course-name-tooltiptext {
                // visibility: hidden;
                min-width: 20em;
                background-color: var(--primaryColor);
                font-family: "Work Sans";
                color: var(--defaultBackground);
                text-align: center;
                padding: 5px 5px;
                border-radius: 6px;
                position: absolute;
                z-index: 999;
              }
              
        
            .course-mode{
                font-family:'Work Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: var(--bodyColor);
                margin-top: 12px;
            }
            .course-duration{
                font-family:'Work Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: var(--bodyColor);
                margin-top: 4px;
            }
            .course-price-content{
        
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 36px;
        
                .course-pay{
                    font-family:'Work Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 16px; 
                    color: var(--disabledColor); 
                }
                .course-price{
                    font-family:'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 27px;
                    color: var(--inverseBackground);
                }
            }
           
        }
        
        .open{
            padding: 0rem 1.25rem 0rem 1.25rem !important;
        }
        
        .course-button-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 12px 8px;
            // gap: 8px;
            background: var(--subduedBackground);
            border-radius: 0px 0px 16px 16px; 
            position: relative;
            bottom: 0px;
        
        }
        
        .course-compare-buttton{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 8px;
            gap: 10px;
            background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
            border-radius: 4px;
            width: 60%;
        }
        
        .add-to-compare-text{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            // line-height: 24px;
            color: var(--defaultBackground);
        }
        
        .course-detail-button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 12px;
            gap: 10px;
            background: #FFFFFF;
            border-radius: 5px;
        }
        
        .course-detail-text{
            font-family:'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: var(--inverseBackground);
        }

        .course-detail-approved-text{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: right;
            color: #138808;
        }
        
        .course-button-content-mobile{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            gap: 8px;
            background: var(--subduedBackground);
            border-radius: 0px 0px 16px 16px;
        
        }
        .course-compare-buttton-mobile{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 22px;
            gap: 10px;
            background: linear-gradient(94.29deg, #3399CC 0%, #00CB9C 100%);
            border-radius: 4px;
        }
        
        .add-to-compare-text-mobile{
            font-family:'Work Sans';
            font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: var(--defaultBackground);
        }
        
        .course-detail-button-mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 12px 24px;
            gap: 10px;
        }
        .course-detail-text-mobile{
            font-family:'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: var(--inverseBackground);
        }
        
        }
        
        .card-container-open{
            padding-top: 12px !important;
        
        }
    
    }