* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  
  font-family: "Poppins", sans-serif;
  // background: #2b2c2e;

  &::-webkit-scrollbar{
    display: none;
  }
}

#app {
  --background-color: #1e1f22;
  --primary-color: blue;
  --secondary-color: olive;
  --gray-shade1: #313235;
}

@import '../pages/dashboard/_dashboard.scss';
@import '../components/header/_header.scss';
@import '../components/banner/_banner.scss';
@import '../components/categoryDropdown/_categoryDropdown.scss';
@import '../components/categoryHeader/categoryHeader';
@import '../components/courseCard/courseCard';
@import '../components/navbar/navbar';
@import '../components/subjectTab/subjectTab';
@import '../components/headerMobile/headerMobile';
@import '../components/footerMobile/footerMobile';