
* {
  margin: 0;
  padding: 0;
  // -webkit-tap-highlight-color: white;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
    --defaultBackground : #FFFFFF;
    --subduedBackground: #F7F7F7;
    --primaryColor:#222222;
    --bodyColor:#717171;
    --disabledBackground: #DDDDDD;
    --inverseBackground: #000000;
    --defaultColor: #222222;
    --highContrastColor: #000000;
    
    --disabledColor:#B0B0B0;
    --omniverseColor:#FFFFFF;
    --contrastStrokeColor:#000000;
    --defaultStrokeColor:#B0B0B0;
    --subduedStrokeColor:#DDDDDD;
    --insignificantStrokeColor:#EBEBEB;
    --defaultPrimaryColor:#034FE2;
    --hoverPrimaryColor:#575ADB;
    --errorPrimaryColor:#FD3217;
    --successPrimaryColor:#5FAE3A;
    --greenGradientPrimaryColor:#FF5794;
    --greenGradientSecondaryColor:#FFCC00;
    --pinkGradientPrimaryColor:#9900FF;
    --pinkGradientSecondaryColor:#FF0066;
    
}

[data-theme='dark'] {
    --defaultBackground : #0A0A0A;
    --subduedBackground: #141414;
    --primaryColor:#DEDEDE;
    --bodyColor:#8F8F8F;
    --disabledBackground: #141414;
    --inverseBackground: #FFFFFF;
    --defaultColor: #DEDEDE;
    --highContrastColor: #FFFFFF;
   
    --disabledColor:#4F4F4F;
    --omniverseColor:#4F4F4F;
    --contrastStrokeColor:#FFFFFF;
    --defaultStrokeColor:#4F4F4F;
    --subduedStrokeColor:#292929;
    --insignificantStrokeColor:#242424;
    --defaultPrimaryColor:#2D31D2;
    --hoverPrimaryColor:#575ADB;
    --errorPrimaryColor:#FD3217;
    --successPrimaryColor:#5FAE3A;
    --greenGradientPrimaryColor:#FF5794;
    --greenGradientSecondaryColor:#FFCC00;
    --pinkGradientPrimaryColor:#9900FF;
    --pinkGradientSecondaryColor:#FF0066;
}

body {
  // height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  // height: calc(var(--vh, 1vh) * 100);
  
  font-family: "Poppins", "Work Sans";
  // background: data-theme='dark'
  // [data-theme='dark']{
  //   background: #0A0A0A;
  // }
  // [data-theme='light']{
  //   background: #FFFFFF;
  // }

  &::-webkit-scrollbar{
    display: none;
  }
  .css-j5h6pi-MuiPopper-root{
    z-index: 99999 !important;
  }
  .css-3dah0e-MuiModal-root-MuiDialog-root{
    z-index: 99999 !important;
  }
  .css-1mtsuo7{
    z-index: 99999 !important;
  }

  ::-webkit-scrollbar {
    display: none !important; // Safari and Chrome
  } 

}

#app {
  --background-color: #1e1f22;
  --primary-color: blue;
  --secondary-color: olive;
  --gray-shade1: #313235;
}

@import '../pages/dashboard/_dashboard.scss';
@import '../components/header/_header.scss';
@import '../components/banner/_banner.scss';
@import '../components/categoryDropdown/_categoryDropdown.scss';
@import '../components/categoryHeader/categoryHeader';
@import '../components/courseCard/courseCard';
@import '../components/navbar/navbar';
@import '../components/subjectTab/subjectTab';
@import '../components/headerMobile/headerMobile';
@import '../components/footerMobile/footerMobile';
@import '../components/footer/footer';
@import '../components/filterModal/filterModal';
@import '../components/subjectDropdown/subjectDropdown';
@import '../components/footerModal/footerModal';
@import '../pages/privacy/privacyPolicy';
@import '../components/primaryDropdown/primaryDropdown';
@import '../components/checkbox/checkBox';
@import '../components/chip/chip';
@import '../components/filter/filter';
@import '../components/button/button';
@import '../components/input/input';
@import '../components/error/error';
@import '../components/detailModal/detailModal';
@import '../components/button/button';
@import '../components/floatActionButton/floatActionButton';
@import '../components/loginModal/loginmodal';
// @import '../components/profilePage/profilePage';
@import '../components/forgotPasswordModal/forgotPasswordModal';
@import '../components/otpField/otpField';
@import '../pages/profile/profilePage';
@import '../components/searchBar/searchBar.scss';
@import '../components/applyNowModal/applyNow';
@import '../components/searchBarMobile/searchBarMobile.scss';
@import '../pages/search/search';
@import '../pages/bookmarks/bookmarks';
@import '../pages/details/detail';
@import '../components/homePageSkeleton/homeSkeleton';
@import '../components/successApplyModal/successApplyModal.scss';
@import '../pages/my-courses/myCourses';
@import '../components/my-courses-card/myCoursesCard';
@import '../components/detailPageSkeletonWeb/style.scss';
@import '../components/detailPageSkeletonMobile/styles.scss';
@import '../components/credencFeatures/credencFeatures';
@import '../components/browseCategory/categories';
@import '../components/courseTrivia/courseTrivia';
@import '../components/querySuccessModal/querySuccessModal';
@import '../components/inquiryModal/inquiry';
